.logo {
  width: max-content;
  height: fit-content;
  margin: 0 auto;
  padding: 32px 0 0;
  font-family: Limelight, sans-serif;
  font-size: 40px;
  line-height: 1.5;
  text-transform: uppercase;
}
